<footer class="footer">
  <div class="container footer-container">
    <div class="footer-wrapper">
    <ul class="footer-navigation">
      <li class="footer-link">
        <a class="footer-underline" href="Privacy Policy.html">Privacy Policy</a>
      </li>
      <li class="footer-link">
        <a class="footer-underline" href="Terms and Conditions.html">Terms & Conditions</a>
      </li>

      <li class="footer-link">
        <a class="footer-underline" href="Cookies Policy.html">Cookies Policy</a>
      </li>
    </ul>
    <img class="footer-img" src="/img/footer.png" alt="Wave World">
    <p class="footer-text">All Rights Reserved crimsonwave.space | 2025</p>
  </div>
</div>
</footer>