<header class="header" id="site-header">
  <div class="header-container container">
    <button type="button" class="menu-button" aria-label="menu toggle">
      <span class="icon">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="0.5" y="0.5" width="23" height="23" rx="3.5" stroke="#00FEFB" />
          <path d="M5.625 7.125H18.375M5.625 16.125H18.375M5.625 11.625H18.375" stroke="#FAFAFA" stroke-linecap="round" />
          </svg>
      </span>
    </button>
    <nav class="nav ">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="links" href="#Home">Home</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#Benefits">Benefits</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#Feature">Feature Keys</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#Game">About the Game</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#Play">How to Play</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#FAQ">FAQ</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#Gallery">Gallery</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#Reviews">Player Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
  <ul class="menu-list">
    <li class="menu-item"><a class="menu-list-item" href="#Home">Home</a></li>
    <li  class="menu-item"><a class="menu-list-item" href="#Benefits">Benefits</a></li>
    <li class="menu-item">
      <a class="menu-list-item" href="#Feature">Feature Keys</a>
    </li>
    <li  class="menu-item"><a class="menu-list-item" href="#Game">About the Game</a></li>
    <li  class="menu-item"><a class="menu-list-item" href="#Play">How to Play</a></li>
    <li  class="menu-item"><a class="menu-list-item" href="#FAQ">FAQ</a></li>
    <li class="menu-item"><a class="menu-list-item" href="#Gallery">Gallery</a></li>
    <li class="menu-item"><a class="menu-list-item" href="#Reviews">Player Reviews</a></li>
  </ul>
  <ul class="policy-list">
    <li class="policy-item">
      <a class="menu-list-item list-condition" href="Privacy Policy.html">Privacy Policy</a>
    </li>
    <li class="policy-item">
      <a class="menu-list-item list-condition" href="Terms and Conditions.html">Terms & Conditions</a>
    </li>
    <li class="policy-item">
      <a class="menu-list-item list-condition" href="Cookies Policy.html">Cookies Policy</a>
    </li>
    </ul>
</div>