<!-- Hero -->
<section class="hero-section">
    <div class="container hero-relative">
        <h1 class="visually-hidden">Wave Word</h1>
        <p class="big-text">Ride the Rhythm, Conquer the Currents!</p>
        <div class="hero-container">
                 <p class="text-one">Take control of an unstoppable energy wave as you journey through surreal landscapes filled with thrilling obstacles and
                vibrant challenges. Wave World is a rhythm-infused arcade game where your reflexes, timing, and instinct guide you
                through ever-shifting environments. <span class="mob">Master the flow, dodge the dangers, and prove your agility in a beautifully crafted world of motion. Can you keep up
                with the rhythm of the waves?</span></p>
                   <p class="text-two">Master the flow, dodge the dangers, and prove your agility in a beautifully crafted world of motion. Can you keep up
                with the rhythm of the waves?</p>
          
        </div>
    </div>
</section>
<!-- Benefits -->
<section class="benefits-section">
    <div class="container">
        <h2 class="benefits-title">Benefits</h2>
        <ul class="benefits-list">
            <li class="benefits-item">
                <p class="benefits-item-name">Immersive Wave Mechanics</p>
                <p class="benefits-item-text">Feel the pulse as you guide a living wave through mesmerizing paths</p>
            </li>
            <li class="benefits-item">
                <p class="benefits-item-name">Progressive Level Design</p>
                <p class="benefits-item-text">Start simple, rise to insane difficulty. Every level feels like a new dance.</p>
            </li>
            <li class="benefits-item">
                <p class="benefits-item-name">Dynamic Obstacles</p>
                <p class="benefits-item-text">React quickly as traps, mazes, and moving blocks test your timing.</p>
            </li>
            <li class="benefits-item">
                <p class="benefits-item-name">Atmospheric Soundtrack</p>
                <p class="benefits-item-text">Beat-synced music fuels your rhythm and adds intensity to every motion.</p>
            </li>
            <li class="benefits-item">
                <p class="benefits-item-name">Visual Spectacle</p>
                <p class="benefits-item-text">Dive into chromatic worlds, each with unique patterns, lighting, and fluid transitions.</p>
            </li>
            <li class="benefits-item">
                <p class="benefits-item-name">Skill-Based Mastery</p>
                <p class="benefits-item-text">No luck, only pure reflexes and muscle memory.</p>
            </li>
        </ul>
    </div>
</section>