.cookie-popup {
    position: fixed;
    bottom: 30px;
    left: 48%;
    transform: translateX(-48%);
    background: #fafafa;
    padding: 40px 16px;
    z-index: 1000;
    width: 374px;
    height: auto;
    text-align: center;
    display: none;
}

.cookie-class {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        color: #020202;
}

.cookie-buttons {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-accept {
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #00fefb;
        border-radius: 12px;
            padding: 10px;
            width: 150px;
            height: 39px;
            font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-size: 16px;
                text-align: center;
                color: #020202;
                box-sizing: border-box;
}

.btn-decline {
    border: none;
    border-bottom: 2px solid #00fefb;
        padding: 10px;
        width: 153px;
        height: 39px;
    font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 16px;
        text-align: center;
        color: #020202;
    background: inherit;
    box-sizing: border-box;

}

@media screen and (min-width: 1439px) {
    .cookie-popup {
        padding: 40px 175px;
        width: 1439px;
        height: 162px;
    }
    .cookie-buttons {
        gap: 80px;
    }

}